{% extends 'base.html.twig' %}
{% block title %}Immo-Star{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Bienvenue !</h1>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti doloribus eligendi
            facilis ipsum, neque nulla ratione voluptatem? A alias aliquid aut, culpa debitis eius eos expedita,
            in ipsam iste laboriosam laudantium minus pariatur quo recusandae, repellat tempora temporibus voluptatem.
        </p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {'id': property.id, 'slug': property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} {{ property.postalCode }}</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem">{{ property.formattedPrice }} €</div>

                        </div>

                    </div>

                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}
